.load-wraper{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(226, 226, 226);
    z-index: 4;
    overflow: hidden;
    border-radius: 5px;
  }
  .loading {
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    -webkit-animation: spin 2s linear infinite;
    animation: loading 1s infinite;
    z-index: 5;
  }
  @keyframes loading {
    0% {
      left: -45%;
    }
    100% {
      left: 100%;
    }
  }